.form-box {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 3.5rem;
  }

  &__input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: transparent;
    outline: none;
    padding: 1rem;

    &:focus-visible + .form-box__label,
    &:valid + .form-box__label {
      top: -2rem;
      left: 0;
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    font-size: 1.5rem;
    transform: translateY(-50%);
    margin-bottom: 3px;
    opacity: 0.5;
    transition: all 0.3s;
  }
}
