.btn {
  display: block;
  width: 80%;
  padding: 1rem 0;
  border: 1px solid rgba(0, 0, 0, 0.35);
  outline: none;
  background-color: #db4437;
  font-size: 1.6rem;
  border-radius: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &--2 {
    background-color: #0f9d58;
  }

  &--payment {
    margin-left: auto;
    margin-top: 3rem;
    width: 50%;
  }

  .spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
