.navbar {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  padding-top: 1rem;

  &__logo {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
  }

  &__link {
    font-size: 2rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }
}
